{% extends 'desarrollos/base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<br>

<form action="" method="post">

    {% csrf_token %}

    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ingrese su usuario y contraseña</h5>
          {{ form | crispy }}


          <a href={% url 'home' %} class="card-link">Inicio</a>
          <a href={% url 'register' %} class="card-link">Crear cuenta</a>

          <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
        </div>
      </div>

</form>

{% endblock %}